[defaults]
inventory = ./inventories/hosts.yml
roles_path = ./roles
collections_path = ./collections
interpreter_python = auto_silent
retry_files_enabled = False
timeout = 30
forks = 5
host_key_checking = True

[privilege_escalation]
become = True
become_method = sudo
become_ask_pass = False
